:root {
  --heading-family: "Bitter", serif;
  --text-family: "Merriweather", serif;
  --text-lg: 3.5rem;
  --text-md: 2.25rem;
  --text-sm: 1.125rem;
  --grey: #595959;
  --off-white: #e7e8fe;
  --accent-color: #242dfe;
}
*,
*::before,
**::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  font-size: var(--text-sm);
  background-color: var(--accent-color);
  padding: 10px;
  font-weight: normal;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
header {
  background-color: #fff;
  padding: 30px 20px;
  margin-bottom: 56px;
}
.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.show-on-desktop {
  display: none;
}
.nav-item {
  font-size: var(--text-sm);
  font-family: var(--text-family);
  color: var(--grey);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding-right: 24px;
}
.nav-item:hover {
  transform: translateY(-2px);
}

.cta {
  outline: none;
  border: none;
  background-color: var(--accent-color);
  color: #fff;
  font-family: var(--heading-family);
  font-weight: bold;
  padding: 18px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.cta:hover {
  background-color: #3940f3c7;
  transform: scale(1.1);
}
.cta span {
  font-weight: normal;
}
.hero {
  margin-bottom: 80px;
}
.hero-img-wrapper {
  text-align: center;
  position: relative;
}
.country img {
  width: 15px;
}
.user {
  position: absolute;
  background-color: #fff;
  padding: 18px;
  border-radius: 5px;
}
.user p {
  margin: 4px;
}
.user1 {
  top: -10%;
  left: 46%;
  transform: rotate(-8deg);
}
.user2 {
  top: 20%;
  transform: rotate(10deg);
}
.user3 {
  left: 46%;
  top: 40%;
  width: 150px;
  transform: rotate(-10deg);
}
.hero__title {
  font-size: var(--text-md);
  line-height: 1;
  margin-bottom: 8px;
}
.hero__desc {
  margin: 0;
  color: var(--grey);
  margin-bottom: 24px;
  line-height: 1.3;
}
.btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 36px;
}
.btn-wrapper .btn {
  outline: none;
  border: none;
  font-weight: bold;
  padding: 18px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.btn-wrapper .btn .btn-info {
  font-weight: normal;
}
.btn-primary {
  background-color: var(--accent-color);
  color: #fff;
}
.btn-primary:hover {
  background-color: #3940f3c7;
  transform: scale(1.05);
}
.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: var(--heading-family);
  color: var(--grey);
}
.reviews-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.reviews-wrapper .review-info {
  color: var(--grey);
  text-decoration: none;
}
.reviews-wrapper .review-info span {
  color: #000;
  text-decoration: underline;
  font-weight: bold;
  font-family: var(--heading-family);
}
.publications {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 30px;
}
.features {
  color: #fff;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.features__title {
  width: 90%;
  font-size: var(--text-md);
  line-height: 1;
  margin-bottom: 8px;
  font-family: var(--heading-family);
}
.features__desc {
  margin: 0;
  font-family: var(--text-family);
  color: var(--off-white);
  line-height: 150%;
  margin-bottom: 36px;
}
.features__list {
  padding-left: 0;
}
.feature__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.feature__item img {
  width: 18px;
  height: 18px;
  margin-top: 0;
}
.section-cta {
  background-color: #fff;
  padding: 80px 30px;
}
.plans-for {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 80px;
}
.plan-card {
  background-color: var(--accent-color);
  padding: 24px;
  color: #fff;
}
.plan__title {
  font-size: var(--text-md);
  line-height: 1;
  margin-bottom: 8px;
  font-family: var(--heading-family);
}
.plan__desc {
  margin: 0;
  font-family: var(--text-family);
  color: var(--off-white);
  line-height: 150%;
  margin-bottom: 36px;
}
.plan__list {
  padding-left: 0;
}
.plan {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.plan img {
  width: 18px;
  height: 18px;
  margin-top: 0;
}
.pricing__card {
  padding: 36px;
}
.pricing__type {
  font-family: var(--text-family);
  color: var(--grey);
  font-weight: normal;
}
.price {
  font-size: var(--text-lg);
  color: var(--grey);
  line-height: 0.7;
  margin-bottom: 12px;
}
.price span {
  font-size: 18px;
  font-family: var(--heading-family);
  font-weight: normal;
  color: #9fa5b6;
}
.pricing__desc {
  font-family: var(--text-family);
  color: var(--grey);
  margin-bottom: 24px;
}
.pricing__card .plan {
  color: var(--grey);
}
.subscribe {
  background-color: var(--accent-color);
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  font-family: var(--heading-family);
  font-weight: bold;
  padding: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.subscribe:hover {
  background-color: #373cc9cb;
  transform: scale(1.05);
}
.pricing__primary {
  background-color: var(--accent-color);
  border-radius: 5px;
}
.pricing__primary .pricing__type,
.pricing__primary .price,
.pricing__primary .price span,
.pricing__primary .pricing__desc,
.pricing__primary .plan {
  color: #fff;
}
.subscribe__primary {
  color: var(--accent-color);
  background-color: #e7e8fe;
}
.subscribe__primary:hover {
  transform: scale(1.05);
  background-color: #d5d6dbc5;
}
@media screen and (min-width: 600px) {
  body {
    padding: 20px;
  }
  header {
    padding: 40px;
  }
  .top-navbar {
    margin-bottom: 60px;
  }
  .hero__title {
    font-size: var(--text-lg);
    max-width: 90%;
  }
  .hero__desc {
    max-width: 85%;
  }
  .btn-wrapper {
    flex-direction: row;
  }
  .reviews-wrapper {
    flex-direction: row;
  }
  .publications {
    grid-template-columns: repeat(3, 1fr);
  }
  .user1 {
    top: 0;
    left: 46%;
  }
  .user2 {
    top: 32%;
    left: 10%;
  }
  .user3 {
    left: 60%;
    top: 55%;
  }
  .pricings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .pricing__primary {
    order: 3;
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 1000px) {
  .show-on-desktop {
    display: block;
  }
  .show-on-tablet {
    display: none;
  }
  header {
    padding: 40px 130px;
  }
  .plans-for {
    flex-direction: row;
  }
  .pricings {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .pricing__card.pro {
    grid-column: 3/4;
  }
  .pricing__primary {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    display: flex;
  }
  .hero-img-wrapper {
    max-width: 40%;
    order: 2;
  }
  .hero-content {
    max-width: 60%;
  }
  .publications {
    grid-template-columns: repeat(6, 1fr);
  }
  .features {
    flex-direction: row;
    gap: 4.125rem;
  }
  .features__content {
    order: 2;
  }
  .feature__img {
    margin-top: 24px;
  }
}
