:root {
  --heading-family: "Bitter", serif;
  --text-family: "Merriweather", serif;
  --text-lg: 3.5rem;
  --text-md: 2.25rem;
  --text-sm: 1.125rem;
  --grey: #595959;
  --off-white: #e7e8fe;
  --accent-color: #242dfe;
}
*,
*::before,
**::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-size: var(--text-sm);
  background-color: var(--accent-color);
}
